[mysqld]
# SSL 인증서 경로 설정
ssl-ca=/etc/mysql/certs/ca.pem
ssl-cert=/etc/mysql/certs/server-cert.pem
ssl-key=/etc/mysql/certs/server-key-nopass.pem

# mutual TLS 활성화 (클라이언트 인증서 검증)
require_secure_transport=ON

port = 3306

# 기타 MySQL 서버 설정
bind-address = 0.0.0.0
host-cache-size=0
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=root
pid-file=/var/run/mysqld/mysqld.pid

# 예시로 설정된 RAM에 맞춘 InnoDB 버퍼 크기
innodb_buffer_pool_size = 2G

# 바이너리 로그 및 성능 관련 설정
log_bin = /var/lib/mysql/mysql-bin
join_buffer_size = 128M
sort_buffer_size = 2M
read_rnd_buffer_size = 2M

[client]
socket=/var/run/mysqld/mysqld.sock
